
.explore{
    padding-top: 35px;
    padding-bottom: 15px;
    
}
.exploreCollection{
    color: black;
    padding-top: 5%;
    font-size: 45px;
    font-weight:900;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.05em;

}
.explorelinkformat{
    color: rgb(8, 8, 8);
     text-decoration:none;
     padding: 0px 0px 0px 0px;
    }
.exploreLinks{
    padding-top: 3%;
  
    
}
.stat_formsize{
    width: 30%;
}
.linkspadding{
    list-style-type: none;
    color: rgb(53, 56, 64);
   border-style: hidden;
     padding-left: 0px;
  /* padding-right: 0px; */
  text-decoration: none;
    font-size: 16px;
}
.linkspadding1{
    text-decoration: none;
    color: #161616;
}
.hr_line{
    background-color: gray;
    height: 3px;
    margin-top: -2px;
    border-style: hidden;
}
.stats_link{
    color: black;
    border-bottom: 3px solid #161616;
    text-decoration:none; 
}
.horizontal-scrollable {
    overflow-x: auto;
    /* overflow-y: auto; */
    
            
}
.gap{
    padding-right: 40px;
    border-style: hidden;
}
.img-height{
  height: 400px;
   flex-direction: column;
   align-items: center;
}

.col1{
    justify-content: center;
    padding-top: 6%;
    

}
.ex_card_height{
    height:230px;
}
.img-exformat{
   
    width: 78px;
    height: 78px;
    /* padding: 20 20 20 30;*/
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 5px 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
} 
.row-index{
    /* box-sizing: border-box; */
    /* border-radius: 12px; */
    /* z-index: 99; */
    margin-top: -26px;
   
   
}
.ex-col-index{
    display: flex;
    /*overflow: hidden; */
    padding: 16px;
    float: left;
    margin-top: 18px;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    font-size: 14px;
   
}
.col_index{
    color: black !important;
    /* display: block; */
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding-left: 16px;
   
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;

}
.colftext{
    letter-spacing: 2px;
   font-size: 40px;
   font-weight: 600;
}
.colsetext{
    padding-top: 10px;
    font-size: 27px;
    font-weight: 50;
    color: rgb(126, 128, 128);
}
.row-adjust{
display: block;
}
.col-padding{
padding-bottom: 6%;
}
.button-size{
    padding:18px 55px 18px 55px;
    font-size:medium;
}
.img-format{
    border-radius: 50%;
    max-width: 50px;
    padding: 20 20 20 30;
}
  .card-textcolor{
    color: black;
   float: left !important;
  
  }
.background{
    background-color: rgb(45, 47, 51);
    /* background-image:url('./Components/images/a3.jpg'); */
    /* height: 780px;
    background-size: cover;
    
    background-position: center center;
    opacity: 0.3;
    filter: blur(8px);
    */
   
}

.carousal-padding{
    padding-bottom: 5%;
}
.carousel-background{
    background-image:linear-gradient(to right, rgb(73, 72, 72) , rgb(68, 62, 104), rgb(107, 1, 107));
}
.align-carousel{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 15px;
   
}
.navbrand{
    padding-top: 1.5%;
   
}

.container_padding{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 25px;
    font-weight: 400px;
}
.active {
    color: white;
    border-bottom: 3px solid #f1f3f5;
  }
  .topnav-right {
    float: right;
    
}
.button{
    padding: 10px 19px 10px 19px;
    background-color: transparent !important;
   font-size: 16px;
   font-weight: 600;
}
.main-navigation {
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1.5px;
}
.container_padding1{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
    font-weight: 200px;
}
.colalign{
    text-align: justify;
}
.tbody{
    color: rgb(8, 8, 8) !important;
}
tr{
    border-style:  hidden;
    } 
.th-text{
    text-align: right;
}
.timage{
    border-radius: 10%;
    
}
.stats_tab{
    padding-bottom: 20px;
    padding-top: 6px;
}
.stats_button{
   font-size: 16px;
  color: white;
    
}
.stats_th-text1{
    color: rgb(77, 77, 77);
}
.statpadding{
    padding-left: 30px;
}
.create{
   
    color: black;
   
}
.create1{
   
    color: #161616;
}
.colum{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(11, 12, 14);
    border-radius: 10px;
    margin: 0px;
    color: #161616;
}
.createimg{
    height: 24px;
    
}
.createtext{
    color: #161616;
    font-size: 14px;
}
Button{
    float: right;
   
    
}